div(data-role="page")
	a.pre-game#start-game(data-role='button') Start game!
	a.in-game#restart-game(data-role='button') Restart game
	a.in-game#alert-banko(data-role='button') There is a BANKO!!!	
	a.in-game#get-number(data-role='button')	New number
	
	input(id='round', value=round, type='hidden')
	input(id='pastNumbers', value=pastNumbers, type='hidden')	
	
	div#all-numbers	&nbsp;

	.clear
	#banko-msg THERE IS ZE BANKO!!!	
	#info &nbsp;
