div(data-role="page")
	#banko-msg DER ER BANKO!!!
	a.pre-game#start-game(data-role='button') Start spil
	a.in-game#restart-game(data-role='button') Genstart spil	
	a.in-game#alert-banko(data-role='button') Banko	
	a.in-game#get-number(data-role='button')	Nyt nummer	
	
	input(id='round', value=round, type='hidden')
	input(id='pastNumbers', value=pastNumbers, type='hidden')	
	
	div#all-numbers	&nbsp;

	.clear
	#info &nbsp;
