#viewport
	#banko-msg DER ER BANKO!!!
	p.button.pre-game#start-game Start spil
	p.button.in-game#restart-game Genstart spil	
	p.button.in-game#alert-banko Banko	
	p.button.in-game#get-number	Nyt nummer	
	
	input(id='round', value=round, type='hidden')
	input(id='pastNumbers', value=pastNumbers, type='hidden')	
	
	div#all-numbers	&nbsp;

	.clear
	#info &nbsp;
