div(data-role="page")
	a#alert-banko.client(data-role='button') I got ze BANKO!
	input(id='round', value=round, type='hidden')
	input(id='pastNumbers', value=pastNumbers, type='hidden')
	div#all-numbers	&nbsp;
	
	.clear	
	#banko-msg THERE IS ZE BANKO!!
	#info &nbsp;
