div(data-role="page")
	#banko-msg DER ER BANKO!!!
	a#alert-banko.client(data-role='button') Banko!	
	input(id='round', value=round, type='hidden')
	input(id='pastNumbers', value=pastNumbers, type='hidden')
	div#all-numbers	&nbsp;
	
	.clear	
	#info &nbsp;
