#viewport
	#banko-msg DER ER BANKO!!!
	p#alert-banko.button.client Banko!	
	input(id='round', value=round, type='hidden')
	input(id='pastNumbers', value=pastNumbers, type='hidden')
	div#all-numbers	&nbsp;
